<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crypto.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @crypto.price %>
</p>

<%= link_to 'Edit', edit_crypto_path(@crypto), class: 'btn btn-sm btn-light' %> |
<%= link_to 'Back', root_path, class: 'btn btn-sm btn-outline-dark' %>
